#img1{
    height: 221px;
    width: 1536px;
    object-fit: fill;
}
#btn2{
    display: flex;
    position: absolute;
    right: 0px;
}
.imgcontain{
    display: flex;
    align-items: center;
}
#btn1{
    display: flex;
    position: absolute;
}
